body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

.nav-container{
    height:auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    justify-content: center;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 30px;
    margin: 10px;
    padding-right: 20px;
    text-transform: uppercase;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.logo1{
    text-decoration: none;
}

.nav-bar{
    position: relative;
    background-size: cover;
    height: 350px;
    width: 100%;
    background-image: url(logo1.png);
}

.nav-bar1 {
    position: absolute;
    background-color: black;
    bottom: 0px;
    right: 0px;
    color: white;
    width: 391px;
    height: 80px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}



.nav-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1{
    height: 50px;
    width: 200px;
    background-color: green;
    margin-top: 30px;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 20px
}

#page5{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.page4{
    background-image: url(./rasle.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 4px 6px 10px gray;
    box-sizing: border-box;
    height: 334px;
    width: 214px;
    background-color: aqua;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items:end;
}

.page3{
    background-size: cover;

}

.page2{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 2px;
    padding-left: 5%;

}

.rasel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rasel-1{
        height: 50px;
        width: 200px;
        background-color: green;
        margin-top: 30px;
        color: white;
        border-radius: 10px;
        text-transform: uppercase;
        margin-bottom: 20px
}

.footer{
    position: relative;
    height: 250px;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: gray;
}

.footer-text{
    box-shadow: 3px 5px 10px gray;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 50px;
}

.footer-page1{
    position: absolute;
    left: 10px;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 32px;
    padding: 0px 20px;
}

.footer-text1{
    position: absolute;
    left:0px;
    top: 70px;
    padding: 0px 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-page2{
    position: absolute;
    left: 0px;
    top: 95px;
    padding: 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.footer-page3{
    position: absolute;
    left: 0px;
    top: 125px;
    padding: 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.footer-page4{
    position: absolute;
    left: 0px;
    top: 175px;
    padding: 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

.footer-page5{
    position: absolute;
    height: auto;
    width: 100vw;
    
}

.footer-page6{
    position: absolute;
    left: 35%;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}